### ML data
머신러닝 돌리기 전 종속 변수 제거 등 작업

In [4]:
# data 불러오기
import pandas as pd

df_ml = pd.read_csv('../table/csv_general/total_merge_data_eda.csv')

In [5]:
df_ml

,Unnamed: 0,year,주소,단지명,전용면적(㎡)_x,면적라벨,거래금액(만원),m2당금액(만원),employment_rate(%),GDP(won),economysc,consumeprc,migrationpop,bankloan(1bw),room,bath,adr_dong,버스노선수
0,0,2012,경기도 고양시 가좌동 1086,가좌마을6단지벽산,59,1,21356,356,59.6,1514736.6,92.0,106.30,4562.0,1099781.8,3.0,2.0,가좌동,4
1,1,2012,경기도 고양시 가좌동 1086,가좌마을6단지벽산,84,3,25238,296,59.6,1514736.6,92.0,106.30,4562.0,1099781.8,3.0,2.0,가좌동,4
2,2,2012,경기도 고양시 가좌동 1086,가좌마을6단지벽산,101,3,30607,300,59.6,1514736.6,92.0,106.30,4562.0,1099781.8,3.0,2.0,가좌동,4
3,3,2012,경기도 고양시 가좌동 1086,가좌마을6단지벽산,124,3,37333,298,59.6,1514736.6,92.0,106.30,4562.0,1099781.8,3.0,2.0,가좌동,4
4,4,2012,경기도 고양시 가좌동 1086,가좌마을6단지벽산,153,3,38075,248,59.6,1514736.6,92.0,106.30,4562.0,1099781.8,3.0,2.0,가좌동,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11306,11306,2021,경기도 고양시 화정동 986-6,동도센트리움,129,3,75000,580,60.5,1910745.0,119.5,118.67,1266.0,2050701.6,3.0,2.0,화정동,13
11307,11307,2021,경기도 고양시 화정동 987,옥빛마을(일신건영)13(휴먼빌),53,1,41925,789,60.5,1910745.0,119.5,118.67,1266.0,2050701.6,3.0,2.0,화정동,13
11308,11308,2021,경기도 고양시 화정동 987,옥빛마을(일신건영)13(휴먼빌),59,1,54263,906,60.5,1910745.0,119.5,118.67,1266.0,2050701.6,3.0,2.0,화정동,13
11309,11309,2021,경기도 고양시 화정동 988,옥빛마을12단지,59,1,59885,1011,60.5,1910745.0,119.5,118.67,1266.0,2050701.6,3.0,2.0,화정동,13
11310,11310,2021,경기도 고양시 화정동 998,옥빛마을(풍산),56,1,40150,705,60.5,1910745.0,119.5,118.67,1266.0,2050701.6,3.0,2.0,화정동,13

In [6]:
df_ml.adr_dong.unique()

array(['가좌동', '고양동', '관산동', '대화동', '덕은동', '덕이동', '동산동', '마두동', '백석동',
       '사리현동', '삼송동', '성사동', '성석동', '식사동', '신원동', '일산동', '장항동', '주교동',
       '주엽동', '중산동', '탄현동', '토당동', '풍동', '행신동', '화정동', '도내동', '원흥동',
       '향동동', '지축동'], dtype=object)

In [7]:
df_ml.drop('Unnamed: 0', axis=1, inplace= True)

In [8]:
'''
종속되는 컬럼인 주소 동만 남기고 drop
종속되는 컬럼인 면적 하나 drop
종속되는 컬럼인 금액 하나 drop
'''
df_ml.drop(['주소', '면적라벨', 'm2당금액(만원)'], axis = 1, inplace = True)

In [9]:
df_ml

,year,단지명,전용면적(㎡)_x,거래금액(만원),employment_rate(%),GDP(won),economysc,consumeprc,migrationpop,bankloan(1bw),room,bath,adr_dong,버스노선수
0,2012,가좌마을6단지벽산,59,21356,59.6,1514736.6,92.0,106.30,4562.0,1099781.8,3.0,2.0,가좌동,4
1,2012,가좌마을6단지벽산,84,25238,59.6,1514736.6,92.0,106.30,4562.0,1099781.8,3.0,2.0,가좌동,4
2,2012,가좌마을6단지벽산,101,30607,59.6,1514736.6,92.0,106.30,4562.0,1099781.8,3.0,2.0,가좌동,4
3,2012,가좌마을6단지벽산,124,37333,59.6,1514736.6,92.0,106.30,4562.0,1099781.8,3.0,2.0,가좌동,4
4,2012,가좌마을6단지벽산,153,38075,59.6,1514736.6,92.0,106.30,4562.0,1099781.8,3.0,2.0,가좌동,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11306,2021,동도센트리움,129,75000,60.5,1910745.0,119.5,118.67,1266.0,2050701.6,3.0,2.0,화정동,13
11307,2021,옥빛마을(일신건영)13(휴먼빌),53,41925,60.5,1910745.0,119.5,118.67,1266.0,2050701.6,3.0,2.0,화정동,13
11308,2021,옥빛마을(일신건영)13(휴먼빌),59,54263,60.5,1910745.0,119.5,118.67,1266.0,2050701.6,3.0,2.0,화정동,13
11309,2021,옥빛마을12단지,59,59885,60.5,1910745.0,119.5,118.67,1266.0,2050701.6,3.0,2.0,화정동,13
11310,2021,옥빛마을(풍산),56,40150,60.5,1910745.0,119.5,118.67,1266.0,2050701.6,3.0,2.0,화정동,13

In [10]:
df_ml.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11311 entries, 0 to 11310
Data columns (total 14 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   year                11311 non-null  int64
 1   단지명                 11311 non-null  object
 2   전용면적(㎡)_x           11311 non-null  int64
 3   거래금액(만원)            11311 non-null  int64
 4   employment_rate(%)  11311 non-null  float64
 5   GDP(won)            11311 non-null  float64
 6   economysc           11311 non-null  float64
 7   consumeprc          11311 non-null  float64
 8   migrationpop        11311 non-null  float64
 9   bankloan(1bw)       11311 non-null  float64
 10  room                11311 non-null  float64
 11  bath                11311 non-null  float64
 12  adr_dong            11311 non-null  object
 13  버스노선수               11311 non-null  int64
dtypes: float64(8), int64(4), object(2)
memory usage: 1.2+ MB

In [11]:
# 방, 욕실 개수 int로 타입 변경
df_ml['room'] = df_ml['room'].apply(int)
df_ml['bath'] = df_ml['bath'].apply(int)

In [12]:
# target 컬럼인 가격 컬럼 쉽게 바꾸기
df_ml.rename(columns = {'거래금액(만원)':'price'}, inplace=True)

In [13]:
df_ml

,year,단지명,전용면적(㎡)_x,price,employment_rate(%),GDP(won),economysc,consumeprc,migrationpop,bankloan(1bw),room,bath,adr_dong,버스노선수
0,2012,가좌마을6단지벽산,59,21356,59.6,1514736.6,92.0,106.30,4562.0,1099781.8,3,2,가좌동,4
1,2012,가좌마을6단지벽산,84,25238,59.6,1514736.6,92.0,106.30,4562.0,1099781.8,3,2,가좌동,4
2,2012,가좌마을6단지벽산,101,30607,59.6,1514736.6,92.0,106.30,4562.0,1099781.8,3,2,가좌동,4
3,2012,가좌마을6단지벽산,124,37333,59.6,1514736.6,92.0,106.30,4562.0,1099781.8,3,2,가좌동,4
4,2012,가좌마을6단지벽산,153,38075,59.6,1514736.6,92.0,106.30,4562.0,1099781.8,3,2,가좌동,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11306,2021,동도센트리움,129,75000,60.5,1910745.0,119.5,118.67,1266.0,2050701.6,3,2,화정동,13
11307,2021,옥빛마을(일신건영)13(휴먼빌),53,41925,60.5,1910745.0,119.5,118.67,1266.0,2050701.6,3,2,화정동,13
11308,2021,옥빛마을(일신건영)13(휴먼빌),59,54263,60.5,1910745.0,119.5,118.67,1266.0,2050701.6,3,2,화정동,13
11309,2021,옥빛마을12단지,59,59885,60.5,1910745.0,119.5,118.67,1266.0,2050701.6,3,2,화정동,13
11310,2021,옥빛마을(풍산),56,40150,60.5,1910745.0,119.5,118.67,1266.0,2050701.6,3,2,화정동,13

### 범주형 컬럼 인코딩

#### 범주 수 확인 & 유니크한 개수 확인

In [14]:
df_ml.단지명.value_counts()

일산요진와이시티            144
일산두산위브더제니스          120
위시티일산자이2단지           98
푸르지오                 96
숲속마을(6단지두산위브)        93
                   ...
삼송역현대헤리엇              2
거보플러스-1               2
일산자이2차                1
BK팰리스아파트              1
지축역중흥S-클래스북한산파크뷰      1
Name: 단지명, Length: 511, dtype: int64

In [15]:
df_ml.adr_dong.value_counts()

일산동     1698
주엽동     1186
행신동     1022
화정동      722
성사동      678
백석동      598
탄현동      595
마두동      536
주교동      459
풍동       458
토당동      444
식사동      419
중산동      395
덕이동      338
대화동      318
고양동      304
관산동      236
가좌동      232
장항동      199
신원동      148
도내동       78
사리현동      70
삼송동       68
원흥동       33
향동동       25
성석동       20
동산동       20
지축동       10
덕은동        2
Name: adr_dong, dtype: int64

In [16]:
print(len(df_ml.단지명.unique()))

511

In [17]:
print(len(df_ml.adr_dong.unique()))

29

In [18]:
df_ml.단지명.unique()

array(['가좌마을6단지벽산', '가좌마을5단지벽산', '청원벽산블루밍3단지', '가좌마을2단지대우', '가좌마을1단지양우',
       '가좌마을7단지꿈에그린', '화성그린빌', '푸른마을10단지', '삼성', '현대1', '현대2', '청구',
       '윤창APT', '고양동우방유쉘아파트', '푸른마을3단지', '푸른마을2단지', '푸른마을6단지', '푸른마을5단지',
       '푸른마을4단지', '푸른마을1단지', '푸른마을7단지', '유승(126)', '윤창', '허스(151)',
       '허스(151-3)', '새서울', '준성', '중앙', '신성', '주공그린빌', '대화GS자이(1단지)',
       '대화마을한라(2단지)', '세경', '성저마을(동익1단지)', '성저마을(삼익)', '성저마을(풍림)',
       '장성마을(동부)', '장성마을(대명4)', '장성마을(3)', '장성마을(대명2)', '대화마을(5단지)',
       '휴먼빌(6단지)', '대화마을동문(3단지)', '양우파크타운', '킨텍스아이파크', '동문2', '중앙하이츠빌',
       '덕이1동문', '태영', '하이파크시티일산아이파크1단지', '하이파크시티일산파밀리에2단지',
       '하이파크시티일산파밀리에3단지', '하이파크시티일산파밀리에4단지', '하이파크시티일산아이파크5단지', '철산',
       '동문굿모닝힐3', '동산마을호반베르디움', '동산마을22단지호반베르디움', '백마마을(쌍용)', '백마마을(한성)',
       '백마마을(벽산)', '백마마을(금호)', '백마마을(한양)', '백마마을(청구)', '백마마을(한양4)',
       '백마마을(극동)', '백마마을(삼환)', '백마마을(삼성)', '강촌마을(동아)', '강촌마을(한신)',
       '강촌마을(미도파)', '강촌마을(영남)', '강촌마을(진흥)', '강촌마을(라이프)', '강촌마을(우방)',
       '강촌마을(선경)', '강촌마을(코오롱)', '강촌마을(한양6)', '백송마을(대우)', '백송마을(벽산)',
       '백송마을(임광)', '백송마을(선경)', '백송마을(코오롱)', '백송마을(두산)', '백송마을(우성)',
       '백송마을(한신)', '백송마을(대림)', '백송마을(삼부)', '백송마을(삼호)', '백송마을(풍림)',
       '흰돌마을(금호)', '흰돌마을(서안)', '흰돌마을(국제)', '흰돌마을(한진)', '흰돌마을(청구)',
       '동문1단지', '동문2단지', '동문3단지', '현대그린', '고양삼송동원로얄듀크', '미도아파트5차(3동,5동)',
       '미도아파트5차(1동,2동)', '수정(405-8)', '개나리', '미도(422-2)', '미도(422-3)',
       '세현', '삼화그린아파트(B동)', '장미아파트(가,나,다,라동)', '명지캐럿86', '하림이벨리지타운',
       '성사동세띠앙주상복합', '신원당(동문)', '신원당(태영)2', '신원당(동신2)', '신원당마을',
       '신원당(삼보)', '신원당(동신1)', '신원당(대명)', '신원당(태영)', '삼성래미안', '원당대림e-편한세상',
       '청원네이처빌', 'SKVIEW', '위시티일산자이1단지', '위시티일산자이2단지', '위시티일산자이4단지',
       '위시티블루밍3단지', '위시티일산자이주상복합', '위시티블루밍5단지', '은행마을2(동문)',
       '신원마을고양삼송아이파크', 'A9블럭신원마을호반베르디움', '후곡마을(대우)', '후곡마을(벽산)',
       '후곡마을(대창)', '후곡마을(동양)', '후곡마을(영풍)', '후곡마을(한진)', '후곡마을(건영6)',
       '후곡마을(동부)', '후곡마을(동성)', '후곡마을(동신)', '후곡마을(럭키)', '후곡마을(롯데)',
       '후곡마을(금호)', '후곡마을(한양)', '후곡마을(현대3)', '후곡마을(동아10)', '후곡마을(서안)',
       '후곡마을(임광)', '후곡마을(건영15)', '후곡마을(동아16)', '후곡마을(코오롱)', '후곡마을(태영17)',
       '후곡마을(현대18)', '후곡마을(태영13)', '후곡마을(청구)', '후곡마을(주공)', '산들마을3단지',
       '일신휴먼빌(1655)', '산들마을5단지', '산들마을', '일신건영2차', '동문', '미주(19-8)', '신영',
       '일산삼성', '미주7', '주은1', '미주8', '에이스11차', '에이스10차', '풍원', '일신삼익',
       '신원2', '신원1', '유진스웰', '일산메가씨티', '일산쌍용', '일산에이스(9차)', '삼남',
       '일산중앙가든', '세인', '미주6차', '일산3차현대홈타운', '일산동문(600-32)', '일산1차현대홈타운',
       '일산2차현대홈타운', '태영(954)', '월드메르디앙일산주상복합', '일산동양(955-2)', '풍원리빙프라자',
       '일산동문(2)', '일산동문(3)', '호수마을(럭키)', '호수마을(롯데)', '호수마을(삼환)',
       '호수마을(유원)', '호수마을(현대)', '호수마을(청구)', '호수마을(대우)', '산장', '우인아크리움빌',
       '예중파크뷰', '서초', '벽산', '은하', '영흥', '루미아트', '삼림(561-1)', '미도', '장미3',
       '평화', '미광', '임창(570)', '신성(572)', '대영', '동원(580-11)', '거보플러스-4',
       '거보플러스(585-6)', '나라블루팰리스', '동원(596)', '신정베스트빌', '삼혜그린뷰',
       '대동피렌체주상복합', '장미2', '세창짜임', '문촌마을(우성)1', '강선마을(두산)', '문촌마을(뉴삼익)',
       '문촌마을(동아)8단지', '문촌마을(신안)', '문촌마을(신우)', '문촌마을(대원)', '문촌마을(세경14)',
       '문촌마을부영', '문촌마을(대우)', '문촌마을(유승)', '문촌마을(주공)7', '문촌마을(건영)',
       '문촌마을(동부)', '문촌마을(주공)9', '문촌마을(삼익)', '문촌마을(우성)3', '강선마을(대우)',
       '강선마을(벽산)', '강선마을(경남)', '강선마을(한신)', '강선마을(동신)', '강선마을(건영)',
       '강선마을(동부)', '문촌마을(라이프)', '강선마을(금호)', '강선마을(한양)', '문촌마을(쌍용)',
       '문촌마을(한일)', '강선마을(화성)', '강선마을(럭키)', '강선마을(롯데)', '강선마을(삼환)',
       '강선마을(유원)', '강선마을태영', '강선마을한양', '문촌마을(기산쌍용)', '강선마을뉴서울', '강선마을두진',
       '강선마을(보성)', '강선마을(동문)', '강선마을(동성)', '강선마을(우성)', '중산마을3단지(일신)',
       '중산마을1단지(두산)', '중산마을2(코오롱)', '중산마을10(경남)', '중산마을10(동신)',
       '중산마을9단지두산한성', '중산마을6(태영)', '중산마을7(코오롱)', '중산마을8(대우)', '중산마을8(삼성)',
       '중산마을5(건영)', '중산마을5(동부)', '중산마을11(현대)', '중산마을12(현대)', '산들마을2(대림)',
       '산들마을1(대림)', '센트럴더포레(하늘마을6단지휴먼시아)', '하늘마을주공5단지', '큰마을대림,현대아파트',
       '쌍용스윗닷홈', '탄현마을(동문)', '탄현마을(일신)', '탄현마을(동성)', '탄현마을(건영5)',
       '탄현마을(한신)', '탄현마을(현대)', '탄현마을(부영7)', '탄현마을(건영4)', '탄현마을(부영3)',
       '탄현마을(경남)', '탄현마을(진로)', '탄현마을(삼익)', '탄현마을동신', '탄현마을서광', '탄현마을주은',
       '탄현마을효성', '탄현마을삼환', '탄현마을풍림', '일산임광진흥아파트', '별장', '내안애양우', '허스맨션',
       '대림2', '금호', '에이스빌', '한라비발디', '한강능곡역성원상떼빌1단지', '한강능곡역성원상떼빌2차',
       '능곡현대홈타운1', '백제1차APT', '능곡현대홈타운2', '능곡풍림아이원2단지', '능곡풍림아이원1단지',
       '토당동금강KCC', '태웅', '능곡대림', '장미8차', '삼윤', '유일', '장미APT', '쌍용',
       '일산풍동5차성원상떼빌', '숲속마을9단지(성원)', '숲속마을8단지', '숲속마을(7단지)',
       '숲속마을5단지(I-PARK)', '숲속마을(6단지두산위브)', '숲속마을3단지(뜨란채)', '숲속마을2단지',
       '은행마을1(동문)', '일산풍동에이스아파트', '백마역중앙하이츠빌', '성원1', '성원타운3', '성원2',
       '서정마을4단지', '서정마을5단지', '서정마을7단지파크하임휴먼시아', '서정마을6단지', '행신동문',
       'SK뷰1차', '행신2차에스케이뷰', '윤창아파트총괄동', '윤창주택(634-45)', '장미아파트(나동)',
       '행신3차SKVIEW', '청송', '윤창2', '행신벽산', '무원마을(라이프)', '무원마을(서광)',
       '무원마을(기산)', '무원마을7단지', '무원마을(신안)8', '무원마을(두산)', '무원마을(쌍용)5',
       '무원마을5단지', '무원마을(동신)', '무원마을(삼보)', '무원마을1단지', '소만마을(풍림)',
       '소만마을(대명)7', '소만마을(성원)6', '소만마을(삼신)', '소만마을(동성)', '소만마을9단지',
       '소만마을1단지', '소만마을(신안)2', '소만마을3단지(늘푸른아파트)', '햇빛주공(18-1)', '햇빛마을19',
       '햇빛마을21단지', '햇빛마을주공20', '햇빛주공(18-2)', '햇빛주공22', '햇빛주공23',
       '일신건영아파트(햇빛마을)', '햇빛마을', '샘터마을(동신)', '샘터마을(화성)', '샘터마을(효성)',
       '샘터마을2', '에덴다모은정주상복합', '옥빛마을14단지', '옥빛마을(주공)15', '옥빛마을(주공)17(에듀뷰)',
       '옥빛마을(주공)16(그린나래)', '달빛(라이프)2', '달빛마을(부영)2', '달빛마을(경남)',
       '달빛마을(극동)', '달빛마을(동부)', '달빛마을(진덕)', '달빛마을3단지', '달빛마을4단지',
       '은빛(미도파)5', '은빛마을(LG)5', '은빛마을(삼성)5', '은빛마을(신성)5', '은빛삼익건설(5)',
       '은빛삼익주택(5)', '은빛마을6단지', '별빛마을9단지(901동에서906동)',
       '별빛마을9단지(907동에서912동)', '별빛마을9단지(913동에서918동)', '별빛마을9단지(기산)',
       '별빛마을(건영)10', '별빛마을(부영)8(좋은집)', '별빛마을7단지', '은빛마을11단지', '한화꿈에그린',
       '동원텔', '삼라마이다스빌', '동도센트리움', '옥빛마을(일신건영)13(휴먼빌)', '옥빛마을12단지',
       '옥빛마을(풍산)', '유승(137-1)', '동양라파크', '도래울센트럴파크(CentralPark)',
       '도래울파크뷰', '미미아파트(가,나,다동)', '임창(488-56)', '서안', '상목', '삼송힐스테이트',
       '신원마을5단지우림필유아파트', '삼송리슈빌센트럴파크', '일산동원(23-55)', '푸르지오', '미주8(저층)',
       '유진스웰2단지', '대우이안(655-15)', '대기(554)', '영신(575-9)', '거보플러스-3',
       '(608-3)', '하늘마을2단지', '일산두산위브더제니스', '그린빌', '한가람', '더퍼스트프라임',
       '한승미메이드', '도래울센트럴더포레', '삼송스타클래스', '동원(407-9)', '임창(488-81)',
       '위시티휴먼빌', '일산동원(23-91)', '삼림(569-10)', '우진(569-9)', '거보플러스(A)',
       '동심', '무궁화', '건우', '삼송2차아이파크', '신원마을1단지우남퍼스트빌', '청보APT',
       '윤창주상주상복합', '로마그린', '일산요진와이시티', '거보플러스-2', '원흥호반베르디움더퍼스트5단지',
       '고양삼송동일스위트파크뷰7(1차)', '거보플러스-1', '고양원흥동일스위트', '성사루체하임',
       '삼송10단지동일스위트2차', '스카이팰리스', '일산센트럴아이파크', '일산에듀포레푸르지오', '킨텍스꿈에그린',
       '삼화그린아파트(A동)', '장미아파트(바동)', '장미아파트(마동)', '삼송3차아이파크',
       '삼송원흥역센트럴푸르지오', '킨텍스원시티1블럭', '킨텍스원시티2블럭', '킨텍스원시티3블럭',
       '힐스테이트킨텍스레이크뷰', '우분투포레스트', '까뮤이스테이트', 'DMC호반베르디움더포레4단지',
       'DMC호반베르디움더포레3단지', 'DMC리슈빌더포레스트', 'DMC호반베르디움더포레2단지', '삼송역현대헤리엇',
       '미미아파트(라동)', '삼송2차원흥역동원로얄듀크비스타', '고양원당줌시티', '지축역센트럴푸르지오',
       '지축역북한산유보라', '지축역한림풀에버', 'DMC두산위브더퍼스트', 'DMC중흥S-클래스더센트럴',
       '엘에이치원흥도래울마을3단지', '일산자이2차', 'BK팰리스아파트', '지축역중흥S-클래스북한산파크뷰'],
      dtype=object)

#### 인코딩

In [19]:
df_ml

,year,단지명,전용면적(㎡)_x,price,employment_rate(%),GDP(won),economysc,consumeprc,migrationpop,bankloan(1bw),room,bath,adr_dong,버스노선수
0,2012,가좌마을6단지벽산,59,21356,59.6,1514736.6,92.0,106.30,4562.0,1099781.8,3,2,가좌동,4
1,2012,가좌마을6단지벽산,84,25238,59.6,1514736.6,92.0,106.30,4562.0,1099781.8,3,2,가좌동,4
2,2012,가좌마을6단지벽산,101,30607,59.6,1514736.6,92.0,106.30,4562.0,1099781.8,3,2,가좌동,4
3,2012,가좌마을6단지벽산,124,37333,59.6,1514736.6,92.0,106.30,4562.0,1099781.8,3,2,가좌동,4
4,2012,가좌마을6단지벽산,153,38075,59.6,1514736.6,92.0,106.30,4562.0,1099781.8,3,2,가좌동,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11306,2021,동도센트리움,129,75000,60.5,1910745.0,119.5,118.67,1266.0,2050701.6,3,2,화정동,13
11307,2021,옥빛마을(일신건영)13(휴먼빌),53,41925,60.5,1910745.0,119.5,118.67,1266.0,2050701.6,3,2,화정동,13
11308,2021,옥빛마을(일신건영)13(휴먼빌),59,54263,60.5,1910745.0,119.5,118.67,1266.0,2050701.6,3,2,화정동,13
11309,2021,옥빛마을12단지,59,59885,60.5,1910745.0,119.5,118.67,1266.0,2050701.6,3,2,화정동,13
11310,2021,옥빛마을(풍산),56,40150,60.5,1910745.0,119.5,118.67,1266.0,2050701.6,3,2,화정동,13

In [20]:
# 단지명 : Frequency Encoding
fe = df_ml.groupby("단지명").size()/len(df_ml)
df_ml.loc[:, "단지명_enc"] = df_ml["단지명"].map(fe)
df_ml

,year,단지명,전용면적(㎡)_x,price,employment_rate(%),GDP(won),economysc,consumeprc,migrationpop,bankloan(1bw),room,bath,adr_dong,버스노선수,단지명_enc
0,2012,가좌마을6단지벽산,59,21356,59.6,1514736.6,92.0,106.30,4562.0,1099781.8,3,2,가좌동,4,0.004420
1,2012,가좌마을6단지벽산,84,25238,59.6,1514736.6,92.0,106.30,4562.0,1099781.8,3,2,가좌동,4,0.004420
2,2012,가좌마을6단지벽산,101,30607,59.6,1514736.6,92.0,106.30,4562.0,1099781.8,3,2,가좌동,4,0.004420
3,2012,가좌마을6단지벽산,124,37333,59.6,1514736.6,92.0,106.30,4562.0,1099781.8,3,2,가좌동,4,0.004420
4,2012,가좌마을6단지벽산,153,38075,59.6,1514736.6,92.0,106.30,4562.0,1099781.8,3,2,가좌동,4,0.004420
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11306,2021,동도센트리움,129,75000,60.5,1910745.0,119.5,118.67,1266.0,2050701.6,3,2,화정동,13,0.001945
11307,2021,옥빛마을(일신건영)13(휴먼빌),53,41925,60.5,1910745.0,119.5,118.67,1266.0,2050701.6,3,2,화정동,13,0.001768
11308,2021,옥빛마을(일신건영)13(휴먼빌),59,54263,60.5,1910745.0,119.5,118.67,1266.0,2050701.6,3,2,화정동,13,0.001768
11309,2021,옥빛마을12단지,59,59885,60.5,1910745.0,119.5,118.67,1266.0,2050701.6,3,2,화정동,13,0.000884
11310,2021,옥빛마을(풍산),56,40150,60.5,1910745.0,119.5,118.67,1266.0,2050701.6,3,2,화정동,13,0.000884

In [21]:
dong_list = list(df_ml.adr_dong.unique())
dong_list

['가좌동',
 '고양동',
 '관산동',
 '대화동',
 '덕은동',
 '덕이동',
 '동산동',
 '마두동',
 '백석동',
 '사리현동',
 '삼송동',
 '성사동',
 '성석동',
 '식사동',
 '신원동',
 '일산동',
 '장항동',
 '주교동',
 '주엽동',
 '중산동',
 '탄현동',
 '토당동',
 '풍동',
 '행신동',
 '화정동',
 '도내동',
 '원흥동',
 '향동동',
 '지축동']

In [22]:
# adr_dong : Pandas의 get_dummies를 활용
df_ml = pd.get_dummies(df_ml, prefix=["enc"], columns=['adr_dong'])
df_ml

,year,단지명,전용면적(㎡)_x,price,employment_rate(%),GDP(won),economysc,consumeprc,migrationpop,bankloan(1bw),...,enc_주교동,enc_주엽동,enc_중산동,enc_지축동,enc_탄현동,enc_토당동,enc_풍동,enc_행신동,enc_향동동,enc_화정동
0,2012,가좌마을6단지벽산,59,21356,59.6,1514736.6,92.0,106.30,4562.0,1099781.8,...,0,0,0,0,0,0,0,0,0,0
1,2012,가좌마을6단지벽산,84,25238,59.6,1514736.6,92.0,106.30,4562.0,1099781.8,...,0,0,0,0,0,0,0,0,0,0
2,2012,가좌마을6단지벽산,101,30607,59.6,1514736.6,92.0,106.30,4562.0,1099781.8,...,0,0,0,0,0,0,0,0,0,0
3,2012,가좌마을6단지벽산,124,37333,59.6,1514736.6,92.0,106.30,4562.0,1099781.8,...,0,0,0,0,0,0,0,0,0,0
4,2012,가좌마을6단지벽산,153,38075,59.6,1514736.6,92.0,106.30,4562.0,1099781.8,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11306,2021,동도센트리움,129,75000,60.5,1910745.0,119.5,118.67,1266.0,2050701.6,...,0,0,0,0,0,0,0,0,0,1
11307,2021,옥빛마을(일신건영)13(휴먼빌),53,41925,60.5,1910745.0,119.5,118.67,1266.0,2050701.6,...,0,0,0,0,0,0,0,0,0,1
11308,2021,옥빛마을(일신건영)13(휴먼빌),59,54263,60.5,1910745.0,119.5,118.67,1266.0,2050701.6,...,0,0,0,0,0,0,0,0,0,1
11309,2021,옥빛마을12단지,59,59885,60.5,1910745.0,119.5,118.67,1266.0,2050701.6,...,0,0,0,0,0,0,0,0,0,1
11310,2021,옥빛마을(풍산),56,40150,60.5,1910745.0,119.5,118.67,1266.0,2050701.6,...,0,0,0,0,0,0,0,0,0,1

In [23]:
enc_list = ['enc_가좌동', 'enc_고양동', 'enc_관산동', 'enc_대화동',
        'enc_덕은동', 'enc_덕이동', 'enc_도내동', 'enc_동산동', 'enc_마두동', 'enc_백석동',
        'enc_사리현동', 'enc_삼송동', 'enc_성사동', 'enc_성석동', 'enc_식사동', 'enc_신원동',
        'enc_원흥동', 'enc_일산동', 'enc_장항동', 'enc_주교동', 'enc_주엽동', 'enc_중산동',
        'enc_지축동', 'enc_탄현동', 'enc_토당동', 'enc_풍동', 'enc_행신동', 'enc_향동동',
        'enc_화정동']

print(len(enc_list))
print(len(dong_list))

enc_dict = {}
for enc in enc_list:
    for dong in dong_list:
        if dong in enc:
            enc_dict[enc] = dong

print(enc_dict)
print(len(enc_list))

# df_ml.rename(columns = enc_dict)
df_ml.rename(columns = enc_dict, inplace=True)
df_ml

29
29
{'enc_가좌동': '가좌동', 'enc_고양동': '고양동', 'enc_관산동': '관산동', 'enc_대화동': '대화동', 'enc_덕은동': '덕은동', 'enc_덕이동': '덕이동', 'enc_도내동': '도내동', 'enc_동산동': '동산동', 'enc_마두동': '마두동', 'enc_백석동': '백석동', 'enc_사리현동': '사리현동', 'enc_삼송동': '삼송동', 'enc_성사동': '성사동', 'enc_성석동': '성석동', 'enc_식사동': '식사동', 'enc_신원동': '신원동', 'enc_원흥동': '원흥동', 'enc_일산동': '일산동', 'enc_장항동': '장항동', 'enc_주교동': '주교동', 'enc_주엽동': '주엽동', 'enc_중산동': '중산동', 'enc_지축동': '지축동', 'enc_탄현동': '탄현동', 'enc_토당동': '토당동', 'enc_풍동': '풍동', 'enc_행신동': '행신동', 'enc_향동동': '향동동', 'enc_화정동': '화정동'}
29

,year,단지명,전용면적(㎡)_x,price,employment_rate(%),GDP(won),economysc,consumeprc,migrationpop,bankloan(1bw),...,주교동,주엽동,중산동,지축동,탄현동,토당동,풍동,행신동,향동동,화정동
0,2012,가좌마을6단지벽산,59,21356,59.6,1514736.6,92.0,106.30,4562.0,1099781.8,...,0,0,0,0,0,0,0,0,0,0
1,2012,가좌마을6단지벽산,84,25238,59.6,1514736.6,92.0,106.30,4562.0,1099781.8,...,0,0,0,0,0,0,0,0,0,0
2,2012,가좌마을6단지벽산,101,30607,59.6,1514736.6,92.0,106.30,4562.0,1099781.8,...,0,0,0,0,0,0,0,0,0,0
3,2012,가좌마을6단지벽산,124,37333,59.6,1514736.6,92.0,106.30,4562.0,1099781.8,...,0,0,0,0,0,0,0,0,0,0
4,2012,가좌마을6단지벽산,153,38075,59.6,1514736.6,92.0,106.30,4562.0,1099781.8,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11306,2021,동도센트리움,129,75000,60.5,1910745.0,119.5,118.67,1266.0,2050701.6,...,0,0,0,0,0,0,0,0,0,1
11307,2021,옥빛마을(일신건영)13(휴먼빌),53,41925,60.5,1910745.0,119.5,118.67,1266.0,2050701.6,...,0,0,0,0,0,0,0,0,0,1
11308,2021,옥빛마을(일신건영)13(휴먼빌),59,54263,60.5,1910745.0,119.5,118.67,1266.0,2050701.6,...,0,0,0,0,0,0,0,0,0,1
11309,2021,옥빛마을12단지,59,59885,60.5,1910745.0,119.5,118.67,1266.0,2050701.6,...,0,0,0,0,0,0,0,0,0,1
11310,2021,옥빛마을(풍산),56,40150,60.5,1910745.0,119.5,118.67,1266.0,2050701.6,...,0,0,0,0,0,0,0,0,0,1

In [24]:
df_ml.columns

Index(['year', '단지명', '전용면적(㎡)_x', 'price', 'employment_rate(%)', 'GDP(won)',
       'economysc', 'consumeprc', 'migrationpop', 'bankloan(1bw)', 'room',
       'bath', '버스노선수', '단지명_enc', '가좌동', '고양동', '관산동', '대화동', '덕은동', '덕이동',
       '도내동', '동산동', '마두동', '백석동', '사리현동', '삼송동', '성사동', '성석동', '식사동', '신원동',
       '원흥동', '일산동', '장항동', '주교동', '주엽동', '중산동', '지축동', '탄현동', '토당동', '풍동',
       '행신동', '향동동', '화정동'],
      dtype='object')

In [25]:
df_ml.drop('단지명', axis = 1, inplace = True)

In [26]:
df_ml.columns

Index(['year', '전용면적(㎡)_x', 'price', 'employment_rate(%)', 'GDP(won)',
       'economysc', 'consumeprc', 'migrationpop', 'bankloan(1bw)', 'room',
       'bath', '버스노선수', '단지명_enc', '가좌동', '고양동', '관산동', '대화동', '덕은동', '덕이동',
       '도내동', '동산동', '마두동', '백석동', '사리현동', '삼송동', '성사동', '성석동', '식사동', '신원동',
       '원흥동', '일산동', '장항동', '주교동', '주엽동', '중산동', '지축동', '탄현동', '토당동', '풍동',
       '행신동', '향동동', '화정동'],
      dtype='object')

In [27]:
df_ml

,year,전용면적(㎡)_x,price,employment_rate(%),GDP(won),economysc,consumeprc,migrationpop,bankloan(1bw),room,...,주교동,주엽동,중산동,지축동,탄현동,토당동,풍동,행신동,향동동,화정동
0,2012,59,21356,59.6,1514736.6,92.0,106.30,4562.0,1099781.8,3,...,0,0,0,0,0,0,0,0,0,0
1,2012,84,25238,59.6,1514736.6,92.0,106.30,4562.0,1099781.8,3,...,0,0,0,0,0,0,0,0,0,0
2,2012,101,30607,59.6,1514736.6,92.0,106.30,4562.0,1099781.8,3,...,0,0,0,0,0,0,0,0,0,0
3,2012,124,37333,59.6,1514736.6,92.0,106.30,4562.0,1099781.8,3,...,0,0,0,0,0,0,0,0,0,0
4,2012,153,38075,59.6,1514736.6,92.0,106.30,4562.0,1099781.8,3,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11306,2021,129,75000,60.5,1910745.0,119.5,118.67,1266.0,2050701.6,3,...,0,0,0,0,0,0,0,0,0,1
11307,2021,53,41925,60.5,1910745.0,119.5,118.67,1266.0,2050701.6,3,...,0,0,0,0,0,0,0,0,0,1
11308,2021,59,54263,60.5,1910745.0,119.5,118.67,1266.0,2050701.6,3,...,0,0,0,0,0,0,0,0,0,1
11309,2021,59,59885,60.5,1910745.0,119.5,118.67,1266.0,2050701.6,3,...,0,0,0,0,0,0,0,0,0,1
11310,2021,56,40150,60.5,1910745.0,119.5,118.67,1266.0,2050701.6,3,...,0,0,0,0,0,0,0,0,0,1

In [28]:
df_ml.columns = ['year', 'area', 'price', 'employment_rate', 'GDP',
       'economysc', 'consumeprc', 'migrationpop', 'bankloan', 'room',
       'bath', '버스노선수', '단지명_enc', '가좌동', '고양동', '관산동', '대화동',
        '덕은동', '덕이동', '도내동', '동산동', '마두동', '백석동',
        '사리현동', '삼송동', '성사동', '성석동', '식사동', '신원동',
        '원흥동', '일산동', '장항동', '주교동', '주엽동', '중산동',
        '지축동', '탄현동', '토당동', '풍동', '행신동', '향동동',
        '화정동']

df_ml

,year,area,price,employment_rate,GDP,economysc,consumeprc,migrationpop,bankloan,room,...,주교동,주엽동,중산동,지축동,탄현동,토당동,풍동,행신동,향동동,화정동
0,2012,59,21356,59.6,1514736.6,92.0,106.30,4562.0,1099781.8,3,...,0,0,0,0,0,0,0,0,0,0
1,2012,84,25238,59.6,1514736.6,92.0,106.30,4562.0,1099781.8,3,...,0,0,0,0,0,0,0,0,0,0
2,2012,101,30607,59.6,1514736.6,92.0,106.30,4562.0,1099781.8,3,...,0,0,0,0,0,0,0,0,0,0
3,2012,124,37333,59.6,1514736.6,92.0,106.30,4562.0,1099781.8,3,...,0,0,0,0,0,0,0,0,0,0
4,2012,153,38075,59.6,1514736.6,92.0,106.30,4562.0,1099781.8,3,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11306,2021,129,75000,60.5,1910745.0,119.5,118.67,1266.0,2050701.6,3,...,0,0,0,0,0,0,0,0,0,1
11307,2021,53,41925,60.5,1910745.0,119.5,118.67,1266.0,2050701.6,3,...,0,0,0,0,0,0,0,0,0,1
11308,2021,59,54263,60.5,1910745.0,119.5,118.67,1266.0,2050701.6,3,...,0,0,0,0,0,0,0,0,0,1
11309,2021,59,59885,60.5,1910745.0,119.5,118.67,1266.0,2050701.6,3,...,0,0,0,0,0,0,0,0,0,1
11310,2021,56,40150,60.5,1910745.0,119.5,118.67,1266.0,2050701.6,3,...,0,0,0,0,0,0,0,0,0,1

In [29]:
# 컬럼 리스트 정의
col_name = list(df_ml.columns)

# csv 파일 저장
df_ml.to_csv("../table/csv_general/ml_data.csv",  # 경로
            sep = ",",  # 구분자
            columns =  col_name,  # 컬럼 이름 지정
            index = True)  # 행의 이름에 index 도 같이 내보냄

In [30]:
# 모델링용 최종 데이터셋

df_ml_f= df_ml[['year', 'area', 'price', '버스노선수', '가좌동', '고양동', '관산동', '대화동',
        '덕은동', '덕이동', '도내동', '동산동', '마두동', '백석동',
        '사리현동', '삼송동', '성사동', '성석동', '식사동', '신원동',
        '원흥동', '일산동', '장항동', '주교동', '주엽동', '중산동',
        '지축동', '탄현동', '토당동', '풍동', '행신동', '향동동',
        '화정동']]

df_ml_f

,year,area,price,버스노선수,가좌동,고양동,관산동,대화동,덕은동,덕이동,...,주교동,주엽동,중산동,지축동,탄현동,토당동,풍동,행신동,향동동,화정동
0,2012,59,21356,4,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,2012,84,25238,4,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,2012,101,30607,4,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,2012,124,37333,4,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,2012,153,38075,4,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11306,2021,129,75000,13,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
11307,2021,53,41925,13,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
11308,2021,59,54263,13,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
11309,2021,59,59885,13,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
11310,2021,56,40150,13,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1

In [31]:
# 모델링용 최종 데이터셋
# 컬럼 리스트 정의
col_name = list(df_ml_f.columns)

# csv 파일 저장
df_ml_f.to_csv("../table/csv_general/ml_data_final.csv",  # 경로
            sep = ",",  # 구분자
            columns =  col_name,  # 컬럼 이름 지정
            index = True)  # 행의 이름에 index 도 같이 내보냄